.d-grid-index {
    display: grid;
    grid-template-columns: 1fr repeat(5,minmax(auto, 200px)) 1fr;
    grid-template-rows: minmax(70px, auto) 1fr minmax(70px, auto) 100px;
    min-height: 100vh;
}
.header {
    grid-column: 1/8
}
.main-section {
    grid-column: 2/3;
    grid-row: 2/3;
}
.content-section {
    grid-column: 3/7;
    grid-row: 2/5;
}
.info-section {
    grid-column: 2/3;
    grid-row: 3/5;
}
.footer {
    grid-column: 1/8;
}
.d-grid-second300px {
    min-height: 300px;
    display: grid;
    grid-template-rows: minmax(50px, auto) 1fr minmax(50px, auto);
}
.d-grid-second50px {
    display: grid;
    grid-template-rows: minmax(50px, auto) 1fr minmax(50px, auto);
    margin: 50px;
}



@media screen and (max-width:960px) {
    .main-section-first {
        animation: gridSizeAnimation 2s infinite;
    }
    .content-section-first {
        animation: gridSizeAnimation 2s infinite;
    }
    .info-section-first {
        animation: gridSizeAnimation 2s infinite;
    }
}

@media screen and (max-width: 768px) {
    .main-section {
        grid-column: 3/7;
    }
    .content-section {
        grid-column: 2/7;
        grid-row: 3/5;
    }
    .info-section {
        grid-row: 2/5;
    }
}
@media screen and (max-width: 480px) {
    .main-section {
        grid-column: 2/7;
    }
    .info-section {
        grid-column: 2/7;
        grid-row: 5/6;
    }
}
@keyframes gridSizeAnimation {
    0% {
        width: 20%;
        height: 20%;
        }
    25% {
        width: 50%;
        height: 40%;
        }
    50% {
        width: 75%;
        height: 60%;
        }
    75% {
        width: 100%;
        height: 100%;
    }

}